.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.incomeGenerator {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: 400px;
  height: fit-content;
}

.header {
  background: rgb(245, 89, 89);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: white;
  font-size: 22px;
  margin-left: 0.5em;
}

.header button {
  margin-right: 0.5em;
  width: 100px;
  padding: 1em 0;
  background: rgb(1, 138, 1);
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.header button:hover {
  cursor: pointer;
  background: rgb(0, 161, 0);
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: whitesmoke;
}

.workingTime__section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  flex: 2;
  padding: 1em;
  justify-content: space-between;
}

.workingTime__section-input {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.workingTime__section-input input {
  width: 100px;
  height: 80%;
  background-color: whitesmoke;
  border: 1px solid black;
  font-size: 18px;
  color: gray;
  padding-left: 5px;
}

.workingTime__section-input input:focus {
  background: white;
  border-width: 2px;
  border-radius: 0;
}

.workingTime__section-input label {
  font-size: 22px;
  font-weight: 700;
}

.wage__section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1em;
  justify-content: space-between;
}

.wage__section-input {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.wage__section-input p {
  width: 100px;
  height: 80%;
  background: whitesmoke;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  color: gray;
  padding-left: 5px;
  display: flex;
  align-items: center;
}

.wage__section-input label {
  font-size: 22px;
  font-weight: 700;
}
